@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "sans";
  src: url("./assets/fonts/NotoSans-Regular.ttf");
}

* {
  box-sizing: border-box;
  font-family: "sans";
}
